@import "tailwindcss";

@theme {
    --spacing: 1ch;
}

@layer base {
    button,
    [role="button"] {
        cursor: pointer;
    }
    button:disabled,
    [role="button"]:disabled {
        cursor: default;
    }
}
